@mixin bouton{
    background-image: linear-gradient(#FF79DA 35%, #9356DC);
    border: 0px solid;
    border-radius: 50px;
    padding: 3%;
    color: white;
    font-size:5vw;
    box-shadow:0px 3px 10px grey;
    &:active{
        background: linear-gradient(to bottom, lighten($color-secondary, 5%), lighten($color-primary, 5%));
        box-shadow: 0 4px 15px grey;
    }
}

@mixin center{
    display:flex;
    justify-content:center;
}
