footer{
    background-color:rgb(48, 48, 48);
    color:white;
    position: relative;
    bottom: 45px;
    h4{
        padding-top: 15px;
        margin-top: 0;
        padding-left: 6%;
        font-size:4vw;
      }
      .fa-hands-helping{
        margin-right:2px;
        padding-top: 0;
      }
      ul{
        padding-left:6%;
        padding-bottom:8%;
        li{
            list-style-type: none;
            font-size:3vw;
            margin-bottom: 2%;
          }
  }
}