footer{
    background-color:rgb(48, 48, 48);
    color:white;
    position: relative;
    bottom: 45px;
    h4{
        padding-top: 15px;
        margin-top: 0;
        padding-left: 6%;
        font-size:4vw;
      }
      .fa-hands-helping{
        margin-right:2px;
        padding-top: 0;
      }
      ul{
        padding-left:6%;
        padding-bottom:8%;
        li{
            list-style-type: none;
            font-size:3vw;
            margin-bottom: 2%;
          }
      }
}

@media (min-width:1024px) and (max-width:1700px){
  footer{
    width:100%;
    h4{
        display:flex;
        justify-content:center;
        padding-left:0;
        margin-bottom:2%;
    }
    ul {
        padding-left: 6%;
        padding-bottom: 4%;
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        li{
          display:flex;
          list-style-type: none;
          font-size: 2vw;
          margin-bottom: 2%;
        }
      }
  }
}